/* app css stylesheet */
div.loginHorizontalLineContainer {
	padding: 15px 0;
}

hr.loginHorizontalLine {
	display: inline-block;
	height: 4px;
	border: 0;
	border-top: 1px solid #606060;
	margin: 0 5px;
	padding: 0 10px;
	width: 35%;
}

span.passwordNotice {
	display: inline-block;
	color: gray;
}
