<div class="container">
    <div class="jumbotron text-center" style="padding-bottom:0px;">
        <h2>AngularJS & Firebase App!</h2>
    </div>
    <form class="form-signin" role="form">
        <div class="form-group">
            <input type="email" class="form-control" placeholder="Email address" ng-model="user.email">    
        </div>
        <div class="form-group">
            <div style="text-align:right;">                
                <span>minimum 8 characters</span>
            </div>
            <input type="password" class="form-control" placeholder="Password" ng-model="user.password">
        </div>                           
        <button class="btn btn-lg btn-primary btn-block" type="button" ng-click="user.register($event)" >Register</button>
        <div class="loginHorizontalLineContainer">            
            <hr class="loginHorizontalLine" />
                <span>
                    <b>OR</b>
                </span>
            <hr class="loginHorizontalLine" />
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="button" ng-click="user.login($event)" >Login</button>
  </form>
</div>